div.content
    header
        nav.nav
            label.nav__link.nav__link--selected(for="tab1") About me
            label.nav__link(for="tab2") Portfolio
            label.nav__link(for="tab3") Contact me
    section.about-me
        header.about-me__header
            h1.about-me__title <small>Hello I'm</small>Lucas Mercado
            h2.about-me__subtitle <small>And I'm A</small> <span>Fullstack</span> <span>Web</span> <span>Developer</span>
            div.my-image
                img(src="./assets/pfp.jpg")
        div.about-me__content 
            p.about-me__content-header I love making websites, learning new technologies and improving my skills by making things.
            section.skills-list-container
                h3.skills-list-container__title Some of the technologies I know and use
                ul.skills-list
                    li.skills-list__item PostgreSQL
                    li.skills-list__item MongoDB
                    li.skills-list__item Redux
                    li.skills-list__item Typescript
                    li.skills-list__item Sequelize ORM
                    li.skills-list__item React.js
                    li.skills-list__item Node.js
                    li.skills-list__item Material UI
                    li.skills-list__item TailwindCSS
                    li.skills-list__item HTML
                    li.skills-list__item CSS
                    li.skills-list__item JS
