div.content.contactme
    nav.nav
        label.nav__link(for="tab1") About me
        label.nav__link(for="tab2") Portfolio
        label.nav__link.nav__link--selected(for="tab3") Contact me
    section.contact-area
        div.contact-link
            img.icon(src="./assets/email.svg" alt="Email icon")
            a(href="mailto:lucasmercado101@gmail.com") Lucasmercado101@gmail.com
        div.contact-link
            img.icon(src="./assets/location.svg" alt="Location icon")
            p Buenos Aires, Argentina
        div.contact-link
            img.icon(src="./assets/linkedin.svg" alt="Email icon")
            a(href="https://www.linkedin.com/in/lucas-mercado-619179145/") lucas-mercado-619179145
        div.contact-link
            img.icon(src="./assets/github.svg" alt="Email icon")
            a(href="https://github.com/lucasmercado101/") Lucasmercado101
        div.contact-link
            img.icon(src="./assets/whatsapp.svg" alt="Email icon")
            a(href="tel:1169591147") +11 6959 1147

