doctype html
html(lang="en")
    head
        link(rel="stylesheet" href="vendors/normalize.css")
        link(rel="stylesheet" href="index.min.css")
        link(rel="preconnect" href="https://fonts.gstatic.com")
        link(href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&display=swap" rel="stylesheet")
        link(href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet")
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        title Lucas's Website
    body
        main 
            div.container
                div.wrapper
                    input#tab1.tab(type="radio" name="tab" value="1" checked)
                    include aboutme.pug
                    input#tab2.tab(type="radio" name="tab" value="2")
                    include mywork.pug
                    input#tab3.tab(type="radio" name="tab" value="3")
                    include contactme.pug
