div.content.mywork
    header
        nav.nav
            label.nav__link(for="tab1") About me
            label.nav__link.nav__link--selected(for="tab2") Portfolio
            label.nav__link(for="tab3") Contact me
    h2.mywork__title All the projects I have done so far
    div.timeline
        p.timeline__text Newest
        div.timeline__arrow
        p.timeline__text Oldest
    section.card-list
        article.card
            header.card-header
                a(href="https://google-keep-clone-ashen.vercel.app/").card-header__title Meep
                span.card-header__subtitle March 30th 2021
                a(href="https://github.com/Lucasmercado101/google-keep-clone").card-header__code source code
                p.card-content A Full Stack PERN clone of <a href="http://keep.google.com/">Google Keep</a>. Both the front end and back end hosted on Heroku and Vercel respectively
            footer.tags
                small.tag React
                small.tag Typescript
                small.tag Node
                small.tag Sequelize
                small.tag PostgreSQL
                small.tag Material UI
        article.card
            header.card-header
                a(href="https://www.youtube.com/watch?v=F5ExSpyWMoo").card-header__title Henry App
                span.card-header__subtitle March 17th 2021
                a(href="https://github.com/Lucasmercado101/henry_app_FT08").card-header__code source code
                p.card-content Final project of <a href="https://www.soyhenry.com/">Henry</a>. A mobile app and Web app that Henry Students, Project Managers, Admins and Instructors would use.
            footer.tags
                small.tag React
                small.tag Typescript
                small.tag Node
                small.tag Sequelize
                small.tag PostgreSQL
                small.tag React Native
        article.card
            header.card-header
                a(href="https://omdb-api-showcase.vercel.app/").card-header__title OMDB API Showcase
                span.card-header__subtitle Dec 15th 2020
                a(href="https://github.com/Lucasmercado101/omdb-api-showcase").card-header__code source code
                p.card-content A <a href="https://nextjs.org/"> Next.js </a> web app that consumes and displays data from the <a href="https://www.omdbapi.com/"> OMDB API</a>. I made this to start learning Next.js
            footer.tags
                small.tag React
                small.tag Typescript
                small.tag Next.js
        article.card
            header.card-header
                a(href="https://xs4pg.csb.app/").card-header__title Studio Ghibli API Showcase
                span.card-header__subtitle Dec 10th 2020
                a(href="https://github.com/Lucasmercado101/studio-ghibli-api-showcase").card-header__code source code
                p.card-content Fetches and displays data from the <a href="https://ghibliapi.herokuapp.com/"> Studio Ghibli API</a>
            footer.tags
                small.tag React
                small.tag Typescript
                small.tag Framer Motion
                small.tag Storybook
        article.card
            header.card-header
                a(href="https://snrej.csb.app/").card-header__title Minimalistic Shapes Wallpaper Generator
                span.card-header__subtitle Dec 3th 2020
                a(href="https://github.com/Lucasmercado101/random-minimalistic-wallpaper-generator").card-header__code source code
                p.card-content A website that generates random minimalistic wallpapers on the click of a button. Inspired by <a href="https://github.com/DomDom3333/Wallpaper-Maker"> DomDom3333's Wallpaper-Maker </a>
            footer.tags
                small.tag HTML
                small.tag Sass
                small.tag Coffeescript
        article.card
            header.card-header
                a(href="https://notes-app-1154.herokuapp.com/").card-header__title A Fullstack Note Taking Web App
                span.card-header__subtitle Oct 15th 2020
                a(href="https://github.com/Lucasmercado101/markdown-notes-app").card-header__code source code
                p.card-content A fullstack notes app, I mainly made this to learn Typescript
            footer.tags
                small.tag Fullstack
                small.tag React
                small.tag Node
                small.tag Typescript
                small.tag TailwindCSS
                small.tag Mongoose
                small.tag Express
                small.tag MongoDB
        article.card
            header.card-header
                a(href="https://tic-tac-toe-online-2p.herokuapp.com/").card-header__title Online Tic Tac Toe Game
                span.card-header__subtitle Sep 4th 2020
                a(href="https://github.com/Lucasmercado101/online-tic-tac-toe-game").card-header__code source code
                p.card-content An Online 2 Player Tic Tac Toe Game made with <a href="https://socket.io/">Socket.IO</a>
            footer.tags
                small.tag Node
                small.tag Express
                small.tag Socket.IO
                small.tag EJS
        article.card
            header.card-header
                a(href="https://lucasmercado101.github.io/Pokeapi-app/").card-header__title Pokeapi app
                span.card-header__subtitle Aug 13th 2020
                a(href="https://github.com/Lucasmercado101/Pokeapi-app").card-header__code source code
                p.card-content Webapp that fetches and displays data using the <a href="https://pokeapi.co/"> Pokeapi API</a>. Made to practice fetching and displaying API data.
            footer.tags
                small.tag React
                small.tag CSS
        article.card
            header.card-header
                a(href="https://lucasmercado101.github.io/Omnifood/").card-header__title Omnifood
                span.card-header__subtitle Jun 24th 2020
                a(href="https://github.com/Lucasmercado101/Omnifood").card-header__code source code
                p.card-content A static landing page for a fake food delivery service
            footer.tags
                small.tag HTML
                small.tag CSS
                small.tag JS
        article.card
            header.card-header
                a(href="https://crwn-lively.herokuapp.com/").card-header__title Crown World
                span.card-header__subtitle Jan 4th 2020
                a(href="https://github.com/Lucasmercado101/crwn-world").card-header__code source code
                p.card-content An E-commerce website. I made this when i was starting to learn React.js and web development in general. A couple of months later i re-wrote it so that's responsive.
            footer.tags
                small.tag React
                small.tag Redux
                small.tag Sass
                small.tag Firebase
        article.card
            header.card-header
                a(href="https://mytinerary-site.herokuapp.com/").card-header__title Mytinerary
                span.card-header__subtitle Dec 30th 2019
                a(href="https://github.com/Lucasmercado101/Mytinerary").card-header__code source code
                p.card-content An itinerary planning website. This was the final project that i did for a Fullstack Web Development course
            footer.tags
                small.tag Fullstack
                small.tag React
                small.tag Redux
                small.tag Sass